@import url("../css/variables.css");

footer {
    transition: all .25s ease;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-blue-dark-dark);
    box-shadow: 0px -4px 8px var(--color-red-light);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.footer-box {
    margin: 0 auto;
    max-width: 1400px;
}

.social-media {
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #999;

    ul {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;

        li {
            list-style-type: none;
            display: inline;
        }
    }
}

label {
    margin: 0;
}

#light-dark {
    display: none;
}

.switch-btn {
    width: 30px;
    height: 29px;
    background-color: #999;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;

    &:hover {
        background-color: #fff;
    }
}

.fa-brands {
    transition: all .25s ease;
    color: #999;

    &:hover {
        color: #fff;
    }
}

.fa-sun{
    color: var(--color-blue-dark-dark);
}

.fa-moon {
    color: var(--color-red-dark-dark);
}

.copyrights {
    color: #999;
}

@media screen and (max-width: 768px) {
    .copyrights {
        font-size: 12px;
    }

    .social-media {
        margin: 5px 0;
    }

    .fa-brands {
        font-size: 24px;
    }

    .fa-sun,
    .fa-moon {
        font-size: 17px;
    }

    .switch-btn {
        width: 22px;
        height: 22px;
        border-radius: 3px;
    }
}