@import url("../css/variables.css");
@import url("../css/header.css");
@import url("../css/nav.css");
@import url("../css/recipe.css");
@import url("../css/footer.css");
@import url("../css/shopping.css");
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scrollbar-width: none;
}

main {
    margin: 0 auto;
    transition: all .25s ease;
    background-color: var(--color-blue-dark);
    max-width: 1400px;
    z-index: -5;
}

.firstPageImages {
    max-height: 35vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        position: relative;
        z-index: 5;
    }
}

.frosted-glass-left,
.frosted-glass-right {
    position: absolute;
    top: 87px;
    width: calc((100% - 1400px) / 2);
    min-height: 35vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    filter:brightness(50%);
    z-index: 7;
}

.frosted-glass-left {
    left: 0;
}

.frosted-glass-right {
    right: 0;
}

.main-carousel-border {
    transition: all .25s ease;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 35vh;
    background-color: transparent;
    box-shadow: 6px 0 25px -4px var(--color-red-light), -6px 0 25px -4px var(--color-red-light);
    z-index: 9;
    top: 87px;
}

.carousel-border-bottom {
    position: relative;
    width: 100%;
    height: 10px;
    top: -10px;
    background-color: var(--color-red-light);
    box-shadow: 0 4px 8px var(--color-red-light);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 11;
}

.main-border {
    transition: all .25s ease;
    max-width: 1400px;
    box-shadow: 6px 0 4px -4px var(--color-red-light), -6px 0 4px -4px var(--color-red-light);
    padding: 75px 0 150px 0;
    z-index: -5;
}

.container {
    max-width: 1200px !important;
}

.main-food-table {
    position: unset;
    overflow: hidden;
    transition: all .15s ease-in-out;
    margin: 0 0 35px 0;
    overflow: hidden;
    text-align: center;

    img {
        transition: all .25s ease;
        width: 100%;
        padding: 10px;
        filter: brightness(75%);
        filter: grayscale(25%);
    }

    .food-name {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        text-decoration: none;
        transition: all .15s ease-in-out;
        transform: scale(1.05);

        img {
            transition: all .25s ease;
            filter: brightness(100%);
            filter: grayscale(0);
        }

        .food-name {
            filter: brightness(100%);
            filter: grayscale(0);
        }
    }
}

.food-table-dark {
    color: #fff;

    img {
        background-color: var(--color-red-light-light);
    }

    .food-name {
        text-shadow: 2px 4px 8px #000;
    }

    &:hover {
        color: var(--color-green-light);

        .food-name {
            text-shadow: 2px 4px 8px #000;
        }
    }
}

.food-table-light {
    color: #000;

    img {
        background-color: var(--color-red);
    }

    .food-name {
        text-shadow: none;
        font-weight: 700;

        &:hover {
            text-shadow: none;
        }
    }

    &:hover {
        color: var(--color-red);
    }
}

.scroll-button {
    transition: all 1s ease;
    opacity: 0;
    position: fixed;
    bottom: 100px;
    right: 50px;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 25%;
    box-shadow: 2px 2px 4px #000;
    font-size: 12px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    background-color: #666;
    z-index: 9999;

    &:hover {
        background-color: #333;
    }
}

.fa-size {
    font-size: 24px;
}

/* MediaQuery */
@media screen and (max-width: 991px) and (orientation: portrait) {
    .main-carousel-border {
        display: none;
    }
    
    .carousel {
        z-index: 5;
    }
}

@media screen and (max-width: 768px) {
    .scroll-button {
        width: 30px;
        height: 30px;
    }

    .fa-size {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
        }
        95% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.2);
        }
    }
}

@media screen and (min-width: 992px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
            top: 0;
        }
        95% {
            transform: scale(1);
            top: -25px;
        }
        100% {
            transform: scale(1.2);
            top: 0;
        }
    }

    .carousel-border-bottom {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
            top: -150px;
        }
        95% {
            transform: scale(1);
            top: -200px;
        }
        100% {
            transform: scale(1.2);
            top: -150px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
            top: -200px;
        }
        95% {
            transform: scale(1);
            top: -300px;
        }
        100% {
            transform: scale(1.2);
            top: -200px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
            top: -600px;
        }
        95% {
            transform: scale(1);
            top: -500px;
        }
        100% {
            transform: scale(1.2);
            top: -600px;
        }
    }
}

@media screen and (min-width: 2560px) {
    .firstPageImages {
        min-height: 30vh;
        
        img {
            animation: move-up 5s infinite;
        }
    }

    @keyframes move-up {
        0% {
            transform: scale(1.2);
            top: -800px;
        }
        95% {
            transform: scale(1);
            top: -900px;
        }
        100% {
            transform: scale(1.2);
            top: -600px;
        }
    }
}