@import url("../css/variables.css");
@import url("../css/header.css");
@import url("../css/nav.css");
@import url("../css/footer.css");


html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    transition: all 2s ease;
}

main {
    margin: 0 auto;
    background-color: var(--color-blue-dark);
    max-width: 1400px;
    box-shadow: -1px 0px 8px var(--color-red-light), 1px 0px 8px var(--color-red-light);
    height: 70vh;
}