.recipe-header {
    position: unset;
    overflow: hidden;
    transition: all .15s ease-in-out;
    margin: 0 0 35px 0;
    overflow: hidden;
    text-align: center;
    color: #ddd;

    img {
        background-color: var(--color-red-light-light);
        float: left;
        transition: all .25s ease;
        width: 100%;
        padding: 10px;
    }
}

.recipe-header-title {
    transition: all .15s ease-in-out;
    text-align: left;
    color: var(--color-green-light);
    margin: 0 0 50px 0;
}

.recipe-header-details {
    text-align: left;
    color: #ddd;
}

.category-image,
.country-image {
    max-width: 64px;
    margin: 0 25px 0 0;
}

.img-cat {
    display: flex;
    align-items: center;
    height: 64px;
}

.recipes-links {
    transition: all .25s ease;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-green-light-light);

    &:hover {
        color: var(--color-green);
        text-decoration: none;
    }
}

.recipe-table-ingredients {
    text-align: left;
    color: #ddd;
}

.recipe-ingredients-image {
    transition: all .25s ease;
    width: 60px;
    padding: 10px;
}

.table-dark {
    margin-top: 35px;
    background-color: var(--color-blue-dark-dark) !important;
    thead > tr > th, td, th {
        border-color: var(--color-red-light-light);
    }
}


[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -110px;
    padding: 7px;
    width: 210px;
    border-radius: 3px;
    background-color: var(--color-red-light);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--color-red-light);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 991px) {
    [data-tooltip]:before {
        margin-left: -230px;
        margin-bottom: -45px;
    }

    [data-tooltip]:after {
        border-bottom: 5px solid transparent;
        border-left: 5px solid var(--color-red-light);
        border-right: 5px solid transparent;
        border-top: 5px solid transparent;
        bottom: 25%;
        margin-left: -20px;
    }
}